{% extends 'blog/base.html' %}
{% block content %}
<div align="center">
<h1 >
  Сайт про захист інформації на телефонах, смартфонах та комп'ютерах
</h1>
<div align="center">
<h2 >
  Сайт було створено для представлення інформації про шкідливі програми для
  телефонів і комп'ютерів через які можна отримати доступ до ком'ютера
  або смартфона. Представлення основних небезпек з якими можуть зустрітися
  користувачі телефонів, смартфонів та комп'ютерів.
  </p>
  <p>
    На сайті представлено основні програми використовуючи які можна мінімізувати
    можливість взлому смартфонів та комп'ютерів та недопустити можливість доступу
    сторонніх користувачів до особистої інформації.
  </p>
  <p>
    Наведено інформацію як можна перевірити чи телефон, смартфон або комп'ютер
    вже не прослуховується і як позбутися шкідливих програм.
  </p>

</h2>


</div>

</div>
{% endblock %}
